# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
*.pot
*.sqlite3

# Django
staticfiles/
media/
local_settings.py

# Docker
.dockerignore
Dockerfile

# IDE
.vscode/
.idea/
*.swp
*.swo
*~